<!DOCTYPE html>
<html lang="en">
  <head>
    {namespace s=Famelo\Scaff\ViewHelpers}
    {namespace d=Famelo\Demo\Admin\ViewHelpers}
    <meta charset="utf-8">
    <title>{settings.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{f:uri.resource(path: 'js/jquery.1.7.1.min.js', package: 'TYPO3.Expose')}"></script>
    <link rel="stylesheet" href="{f:uri.resource(path: 'lib/bootstrap/css/bootstrap.css', package: 'Famelo.Scaff')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'lib/bootstrap/css/bootstrap-responsive.css', package: 'Famelo.Scaff')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'components/chosen/chosen/chosen.css', package: 'TYPO3.Expose')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Main.css', package: 'TYPO3.Expose')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'css/scaff.css', package: 'Famelo.Scaff')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'CSS/prettify.css', package: 'Famelo.Demo.Admin')}" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <f:link.action action="index" class="brand">ADU</f:link.action>
          <div class="nav">
            <ul class="nav">
              <f:for each="{settings.modules}" key="module" as="moduleConfiguration">

                <f:if condition="{moduleConfiguration.submodules}">

                  <f:then>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{moduleConfiguration.label} <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <f:for each="{moduleConfiguration.submodules}" key="submodule" as="submoduleConfiguration">
                          <li>
                            <s:link.module path="{module}.submodules.{submodule}" namespace="content">{submoduleConfiguration.label}</s:link.module>
                          </li>
                        </f:for>
                      </ul>
                    </li>
                  </f:then>

                  <f:else>
                    <li{f:if(condition: '{currentModule} == {module}', then: ' class="active"')}>
                      <s:link.module path="{module}" namespace="content">{moduleConfiguration.label}</s:link.module>
                    </li>
                  </f:else>

                </f:if>

              </f:for>
            </ul>

            <a href="#myModal" role="button" class="btn pull-right" data-toggle="modal">Sources</a>

          </div>
        </div>
      </div>
    </div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 900px; margin-left:-450px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sources</h3>
      </div>
      <div class="modal-body">
        <d:source files="{currentModuleConfiguration.sourceFiles}">
          <ul class="nav nav-tabs" id="myTab">
            <f:for each="{sources}" as="source" iteration="i">
              <li{f:if(condition: '{i.isFirst}', then: ' class="active"')}>
                <a href="#tab{i.index}">{source.filename}</a>
              </li>
            </f:for>
          </ul>

          <div class="tab-content">
            <f:for each="{sources}" as="source" iteration="i">
              <div class="tab-pane{f:if(condition: '{i.isFirst}', then: ' active')}" id="tab{i.index}">
                <b>{source.filepath}</b>
                <pre class="prettyprint linenums">{source.code}</pre>
              </div>
            </f:for>
          </div>
        </d:source>

        <script>
          $(function () {
            $('#myTab a').click(function (e) {
              e.preventDefault();
              $(this).tab('show');
            })
          })
        </script>
      </div>
    </div>

    <f:render section="content" />

    <script src="{f:uri.resource(path: 'lib/bootstrap/js/bootstrap.min.js', package: 'Famelo.Scaff')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/prettify.js', package: 'Famelo.Demo.Admin')}"></script>
    <script src="{f:uri.resource(path: 'Scripts/Main.min.js', package: 'TYPO3.Expose')}"></script>

    <script type="text/javascript">
      window.prettyPrint && prettyPrint()
    </script>
  </body>
</html>